.achivements-img{
    width: 25%;
    height: 25%;
    border: 4px solid rgb(122, 187, 237);
}

.achivements-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.description{
    text-align: center;
    font-size: 18px;
    margin: 10px;
}