.certificate-img{
    height: 200px;
    width: 300px;
    margin: 20px;
    border: 4px solid rgb(122, 187, 237);
}

.certificate-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.certificates{
    text-align: center;
}