.contact-container{
    border-top: 2px solid rgb(122, 187, 237);
    padding: 20px;
    margin-left: 30px;
    margin-right: 30px;

}

.contact-icons{
    width: 40px;
    cursor: pointer;
    margin: 10px;
    justify-content: center;
    display: inline-block;
}