.projects-container{
    display: flex;
    justify-content: center;
    height: 50%;
    width: 80%;
    margin: auto;
    
}

.projects-card{
    border: 1px solid rgb(122, 187, 237);
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 2px 2px white;
    transition: transform 0.2s;
    text-align: center;
}

.project-image{
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.project-image:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.projects-heading{
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
    height: 75px;
}

.projects-card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 8px 20px rgba(88, 166, 255, 0.4);
  border-color: #71b7ff;
  cursor: pointer;
}

.project-description{
    margin: 10px;
    text-align: left;
    padding: 5px;
}

